@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/Home.cshtml";
}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="zoom1">ABOUT US</h2>
            <ol>
                <li><a asp-controller="Crm" asp-action="Index">Home</a></li>
                <li>ABOUT US</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                <p>
                    <b>Our Belief :</b>
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Execute our work in a manner that brings highest customer satisfaction.</li>
                    <li><i class="ri-check-double-line"></i> We take our efficiency with our solutions to a whole new level. </li>
                    <li><i class="ri-check-double-line"></i> strategic & planned IT technology solutions by competently evaluating the customers IT needs</li>

                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <p>
                    Masstech Business Solutions is a comprehensive IT solutions provider headed by a team of young & dynamic individuals having vast experience in the corporate world. We are a fast growing company, with customers from diverse verticals like BFSI, Broking, Manufacturing, FMCG, Pharma etc all over India.
                </p>
                <a href="#pricing" class="btn-learn-more">Learn More</a>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
                <img src="~/img/counts-img.svg" alt="" class="img-fluid">
            </div>

            <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
                <div class="content d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-emoji-smile"></i>
                                <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
                                <p><strong>Happy Clients</strong> may simply state that they are "happy" with the services, products, or support they received.</p>
                            </div>
                        </div>

                        <div class="col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-journal-richtext"></i>
                                <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1" class="purecounter"></span>
                                <p><strong>Projects</strong> has successfully delivered its intended outcomes, met the defined objectives, and fulfilled the scope of work.</p>
                            </div>
                        </div>

                        <div class="col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-clock"></i>
                                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                                <p><strong>Years of experience</strong> can vary across different job roles and levels in the IT industry.</p>
                            </div>
                        </div>

                        <div class="col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-award"></i>
                                <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1" class="purecounter"></span>
                                <p><strong>Employees</strong> in an IT company can vary significantly depending on business focus, and stage of growth.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Counts Section -->
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">
            <h2>Our Belief</h2>

        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
                    <h2 class="zoom1"><b>OUR MISSION</b></h2>

                    <div class="zoom py-3">
                        <img src="~/img/team/mission.jpg" height="50%" width="50%" style="border-radius:20px"></img>
                    </div>
                    <br>
                    <div class="btn-buy" style="border-radius:20px;padding:10px;color:white;padding-bottom:30px;">
                        To provide high quality, cost effective and value added services by ensuring a
                        result driven and customer centric approach.
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
                    <h2 class="zoom1"><b>OUR VISION</b></h2>
                    <div class="zoom py-3">
                        <img src="~/img/team/vision.jpg" height="50%" width="50%" style="border-radius:20px"></img>
                    </div>
                    <br>
                    <div class="btn-buy" style="border-radius:20px;padding:10px;color:white">
                        We strive to become a recognized & appreciated IT solutions and services
                        provider by delivering high-quality services.
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
                    <h2 class="zoom1"><b>CORE VALUES</b></h2>
                    <div class="zoom py-3">
                        <img src="~/img/team/cv.png" height="50%" width="50%" style="background:white;padding:5px;border-radius:20px"></img>
                    </div>
                    <br>
                    <div class="btn-buy" style="border-radius:20px;padding:10px;color:white; padding-bottom:45px">
                        • Integrity &emsp;
                        • Innovation
                        &emsp;• Commitment
                        <br>• Customer Centric
                        &emsp;• Quality Service
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Pricing Section -->
