
@{
    ViewData["Title"] = "application";
    Layout = "~/Views/Shared/Home.cshtml";
}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="zoom1">
                Application Development And Management
            </h2>
            <ol>
                <li><a asp-controller="Crm" asp-action="Index">Home</a></li>
                <li>
                    Application Development And Management
                </li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section class="container">
    <div class="container-fluid">
        <img src="~/img/services/App.jpg" alt="Alternate Text" />
    </div>
    <div class="row my-5">
        <div class="col-md-8">
            <h2 class="mb-5">
                Application Development And Management
            </h2>
            <p>
                MBS has helped clients leverage technology and drive business transformation with our Application Development and Management Service through our Flexible, robust & easy to deploy solutions.
            </p>
            <p>
                Today, Now then ever the organization is required to be relevant and agile in their business objectives. With this constant need of change to adapt to business practices the technology also need to be agile, nimble both in process and implementation.                .
            </p>
            <p>
                Masstech Business Solution’s Application Delivery team has extensive experience in custom application development and maintenance for Media, Payment Banks, Banking, Insurance and Financial Services (BFSI) companies and is well equipped to understand the business needs of these organizations.
            </p>

            <h2 class="mt-5">Technology Expertise</h2>
            <div class="row mt-5">
                <div>
                    <ul>
                        <li>Microsoft – Asp.NET, C#, VB.NET, MVC, Angular JS, Entity Framework, SQL Server</li>
                        <li>Java, J2EE, (Core Java, JSP/Servlets, JSF, JMS )</li>
                        <li>PHP (Symfony, CodeIgniter, Zend, Laravel)</li>
                        
                    </ul>
                </div>

            </div>



        </div>
        <div class="col-md-4">
            <h2 class="">Application Development</h2>
            <div class="row mt-5">
                <div>
                    <ul>
                        <li>Integrate</li>
                        <li>Deploy</li>
                        <li>Maintain</li>
                        <li>Upgrade</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</section>

