@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/Home.cshtml";
}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="zoom1">ABOUT US</h2>
            <ol>
                <li><a asp-controller="Crm" asp-action="Index">Home</a></li>
                <li>ABOUT US</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Contact Us</h2>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="contact-about">
                    <h3>WHO WE ARE?</h3>
                    <p>Masstech Business Solutions is a comprehensive IT solutions provider headed by a team of young & dynamic individuals having vast experience in the corporate world.</p>
                    <div class="social-links">

                        <a href="https://www.instagram.com/masstech_business/" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/masstechbusiness/?originalSubdomain=in" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.youtube.com/channel/UCnky61GmGw-RnLEoJPC2d8Q" class="youtube"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                <div class="info">
                    <div>
                        <i class="ri-map-pin-line"></i>
                        <p>
                            5B3, Gundecha Onclave<br>Khairani Road,
                            Near Sakinaka Metro, Mumbai – 400072
                        </p>
                    </div>

                    <div>
                        <i class="ri-mail-send-line"></i>
                        <p>hr@masstechbusiness.com</p>
                    </div>

                    <div>
                        <i class="ri-phone-line"></i>
                        <p>+91 8149298140</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
                <form action="" method="post" role="form" class="php-email-form">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
