
@{
    ViewData["Title"] = "it";
    Layout = "~/Views/Shared/Home.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="zoom1">IT Training</h2>
            <ol>
                <li><a asp-controller="Crm" asp-action="Index">Home</a></li>
                <li>IT Training</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->


<section class="container">
    <div class="row my-3">
        <div class="col-md-8 mt-5">
            <h2>IT Training</h2>
            <p>
                The training outsourcing solutions provided by Masstech for Corporates, are a suite of best-in-class training processes that enable customers to reduce costs, sharpen their business focus and obtain quantifiable results. These Corporate Learning Solutions leverage Masstech’s in-depth knowledge and widespread experience in Technology Training making the company a preferred training services partner.
            </p>
            <p>
                Masstech’s Corporate Training Programs, targeted at both large enterprises and Small and Medium Businesses (SMBs), deliver training that is focused and meets the requirements of a 21st century workplace.
            </p>

        </div>
        <div class="col-md-4">
            <img src="~/img/services/Train.png" width="400px"/>
          
        </div>
    </div>


</section>