
@{
    ViewData["Title"] = "project";
    Layout = "~/Views/Shared/Home.cshtml";
}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="zoom1">
                Project Management
            </h2>
            <ol>
                <li><a asp-controller="Crm" asp-action="Index">Home</a></li>
                <li>
                    Project Management
                </li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section class="container">
    <div class="row my-5">
        <div class="col-md-7">
            <h2 class="mb-5">
                Project Management
            </h2>
            <p>
                Project management is the application of processes, methods, skills, knowledge and experience to achieve specific project objectives according to the project acceptance criteria within agreed parameters. Project management has final deliverables that are constrained to a finite timescale and budget.
            </p>
            <p>
                A key factor that distinguishes project management from just ‘management’ is that it has this final deliverable and a finite timespan, unlike management which is an ongoing process. Because of this a project professional needs a wide range of skills; often technical skills, and certainly people management skills and good business awareness
.            </p>

            <h2 class="mt-5">Our services are as below :</h2>
            <div class="row mt-5">
                <div >
                    <ul>
                        <li>Analysis</li>
                        <li>Evaluate</li>
                        <li>Design</li>
                        <li>Develop</li>
                    </ul>
                </div>
              
            </div>

        </div>
        <div class="col-md-5">
            <img src="~/img/services/project.png" class="img-fluid mt-1" />

        </div>
    </div>
</section>

