@{
    ViewData["Title"] = "sharepoint";
    Layout = "~/Views/Shared/Home.cshtml";
}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="zoom1">Share Point</h2>
            <ol>
                <li><a asp-controller="Crm" asp-action="Index">Home</a></li>
                <li>SharePoint</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section class="container">
    <div class="row portfolio-info">
        <div class="col-md-8 mt-5">
            <h2>Microsoft SharePoint</h2>
            <p>
                SharePoint is a highly customizable Cloud-based content collaboration and management
                platform that can help your team work remotely, work together, and work smarter.
                Primarily configured to create intranet, extranet and websites, SharePoint offers a wide range of collaboration and sharing tools,
                document management, data storage server, search engine, workflows and business intelligence tools, easy integration with MS office and
                exchange server and much more.
            </p>
            <p>
                Our experienced team of SharePoint Developers, Consultants and Architects are experts in Sharepoint implementation and services. We make sure you get the best services that improve document management, sharing, collaboration, teamwork, workflow and information management.
            </p>

        </div>
        <div class="col-md-4">
            <img src="~/img/services/Microsoft-SharePoint.png" class="img-fluid">
          
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="~/img/services/Sharepoint.png" class="img-fluid">
        </div>
        <div class="col-md-8 mt-5 pt-5 ps-5">
            <h2>Masstech’s SharePoint Development Services</h2>
            <ul style="list-style-type:circle;">
                <li>SharePoint Development and Consulting</li>
                <li>Business Process Automation and Workflow Development</li>
                <li>SharePoint Design and Branding Services</li>
                <li>
                    SharePoint Migration
                </li>
                <li>SharePoint Healthcheck</li>
                <li>SharePoint Integration Services</li>
                <li>
                    SharePoint Managed Services
                </li>
                <li>
                    Hybrid Architecture
                </li>
                <li>
                    Office 365 and SharePoint Online
                </li>
            </ul>
        </div>
    </div>


</section>

