@{
    ViewData["Title"] = "softskill";
    Layout = "~/Views/Shared/Home.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="zoom1">Soft Skill Training</h2>
            <ol>
                <li><a asp-controller="Crm" asp-action="Index">Home</a></li>
                <li>Soft Skill Training</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section class="container vh-100">
    <div class="row my-5">
        <div class="col-md-8">
            <h2>Soft Skill Training</h2>
            <p class="my-4">
                Soft Skill training is working on personal attributes, communication abilities, personality traits, etc. which are important socially and professionally. These skills help you with a lot of things in the workplace. Soft skills play an important role in the success and growth of a person.
            </p>
            <h4>
                MBS’s Soft Skill Training focuses on below skills development
            </h4>
            <ul>
                <li>
                    Leadership Skills
                </li>
                <li>Teamwork</li>
                <li>
                    Communication Skills
                </li>
                <li>
                    Problem-Solving Skills
                </li>
                <li>
                    Work Ethic
                </li>
                <li>
                    Flexibility/Adaptability
                </li>
                <li>
                    Interpersonal Skills
                </li>
            </ul>

        </div>
        <div class="col-md-4">
            <img src="~/img/services/soft.png" class="img-fluid"/>
        
        </div>
    </div>


</section>