@{
    ViewData["Title"] = "staff";
    Layout = "~/Views/Shared/Home.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="zoom1">Staff Augmentation</h2>
            <ol>
                <li><a asp-controller="Crm" asp-action="Index">Home</a></li>
                <li>Staff Augmentation</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section class="container">
    <div class="row">
        <h2 class="py-3">Staff Augmentation</h2>
        <p>
            Staff Augmentation services provide skilled personnel to work under your direction to help you develop,
            maintain, manage and support your applications. Our skilled application professionals can help you manage fluctuating skill needs,
            skills gaps and changing staffing needs to meet your aggressive project timelines. Masstech’s resources work with you on-site or remote,
            and are certified in key technologies.
        </p>

        <h2 class="pt-3">Key Benefits</h2>
        <ul style="list-style-type:circle">
            <li>Lower the cost of hard-to-find IT skills and take advantage of globally competitive rates.</li>
            <li>Flexibility to be able to access IT skills when and where needed in a changing and fast-moving environment?</li>
            <li>Access leading IT skills without a high-cost investment in training.</li>
            <li>Ensure that IT staff are trained in the latest methodologies that drive quality and speed in development and management.</li>
        </ul>
    </div>


</section>

<section class="container">
    
    <div class="row mt-1">
        <div class="col-md-3">
            <div class="card p-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Technical Expertise</h5>
                    <hr />
                    <ul style="list-style-type:circle">
                        <li>PHP</li>
                        <li>Java</li>
                        <li>Ruby</li>
                        <li>Python</li>
                        <li>Classic ASP</li>
                        <li>VB</li>
                        <li>C#</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                        <li>HTML / CSS / XM</li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Java Frameworks</h5>
                    <hr />
                    <ul style="list-style-type:circle">
                        <li>Spring</li>
                        <li>Spring Boot</li>
                        <li>Struts</li>
                        <li>Vaadin</li>
                        <li>JSF</li>
                        <li>Java Hibernate</li>
                        <li>Java EJB</li>
                        <li>Mybatis</li>
                        <li>Seam</li>
                        <li>ZK Framework</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Microsoft</h5>
                    <hr />
                    <ul style="list-style-type:circle">
                        <li>Oracle</li>
                        <li>MS SQL</li>
                        <li>MySQL</li>
                        <li>PostgreSQL</li>
                        <li>SqlLite</li>
                        <li>
                            MariaDB
                        </li>
                        <li>MS ACCESS</li>
                        <li>MongoDB</li>
                       
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        PHP Frameworks
                    </h5>
                    <hr />
                    <ul style="list-style-type:circle">
                        <li>Laravel</li>
                        <li>Yii</li>
                        <li>Zend</li>
                        <li>
                            CakePHP
                        </li>
                        <li>Symfony</li>
                        <li>CodeIgniter</li>
                        <li>Kohana</li>
                      
                    </ul>
                </div>
            </div>
        </div>

    </div>





    <div class="row my-5">
        <div class="col-md-3">
            <div class="card p-4" style="width: 18rem;">
             
                <div class="card-body">
                    <h5 class="card-title">Javascript Framework</h5>
                    <hr />
                    <ul style="list-style-type:circle">
                        <li>AngularJS</li>
                        <li>React</li>
                        <li>Vue.js</li>
                        <li>
                            Node.js
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card pb-5 px-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title pt-4">Databases (RDBMS / NoSQL</h5>
                    <hr />
                    <ul style="list-style-type:circle">
                        <li>
                            NET Core
                        </li>
                        <li>ASP.NET MVC</li>
                        <li>WCF</li>
                        <li>
                            Web API
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card pt-4 pb-5 px-4" style="width: 18rem;">
                
                <div class="card-body">
                    <h5 class="card-title">Python Framework</h5>
                    <hr />
                    <ul style="list-style-type:circle">
                        <li>Django</li>
                        <li>Flask</li>
                        <li>Pyramid</li>
                      
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
           
        </div>

    </div>
</section>
