@{
    ViewData["Title"] = "tandm";
    Layout = "~/Views/Shared/Home.cshtml";
}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="zoom1">Time And Material Model</h2>
            <ol>
                <li><a asp-controller="Crm" asp-action="Index">Home</a></li>
                <li>Time And Material Model</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section class="container">
    <div class="row my-5">
        <div class="col-md-8">
            <h2 class="mb-5">Time And Material Model</h2>
            <p>
                When the Projects are dynamic and its Scope and requirements are not stable during the development process, or at any stage during the project, the Time & Material Model facilitates provisions to update the size and upcoming requirements of your project, while optimizing time and cost.
            </p>
            <p>
                Masstech’s Time and material model gives you the luxury to flexibly change your project specifications, increase or decrease project scope and also resources required for the project depending on your evolving requirements during the lifecycle of the project.
            </p>

            <h2 class="mt-5">Our services are as below :</h2>
                <div class="row mt-5">
                    <div class="col-md-6">
                    <ul>
                        <li>Your Requirements</li>
                        <li>Our Analysis, Queries, Value Additions</li>
                        <li>Your Feedback</li>
                        <li>Our Time & Material Proposal</li>
                    </ul>
                    </div>
                <div class="col-md-6">
                    <ul>
                        <li>Approval & Work Commencement</li>
                        <li>Work Request</li>
                        <li>Implementation</li>
                        <li>Your Solution</li>
                    </ul>
                </div>
                </div>

        </div>
        <div class="col-md-4">
            <img src="~/img/services/time.png"  class="img-fluid mt-5" />

        </div>
    </div>
</section>

