@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* --admin *@

<div id="main-content">

    <div class="block-header py-lg-4 py-3">
        <div class="row g-3">
            <div class="col-md-6 col-sm-12">
                <h2 class="m-0 fs-5"><a href="javascript:void(0);" class="btn btn-sm btn-link ps-0 btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Raise Tickets</h2>

            </div>
            <div class="col-md-6 col-sm-12 text-md-end">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row g-3">
            <div class="card p-3">

                <div class="container">

                    <h2>form uploaded Successful</h2>
                    <p>Your form has been submitted successfully.</p>

                </div>

            </div>

        </div>

    </div>

</div>