@* @model LucidHR.Models.f16 *@
@model List<f16>
@* @model List<LucidHR.Models.f16> *@

@{
    ViewData["Title"] = "View Form 16";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>View Form 16</h2>



<div id="main-content">


    <div class="block-header py-lg-4 py-3">
        <div class="row g-3">
            <div class="col-md-6 col-sm-12">
                <h2 class="m-0 fs-5"><a href="javascript:void(0);" class="btn btn-sm btn-link ps-0 btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Download F16 Form</h2>
                @* <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="index-2.html">Lucid</a></li>
                <li class="breadcrumb-item">Apps</li>
                <li class="breadcrumb-item active">Tickets</li>
                </ul> *@
            </div>
            <div class="col-md-6 col-sm-12 text-md-end">
                @* <div class="d-inline-flex text-start">
                <div class="me-2">
                <h6 class="mb-0"><i class="fa fa-user"></i> 1,784</h6>
                <small>Visitors</small>
                </div>
                <span id="bh_visitors"></span>
                </div>
                <div class="d-inline-flex text-start ms-lg-3 me-lg-3 ms-1 me-1">
                <div class="me-2">
                <h6 class="mb-0"><i class="fa fa-globe"></i> 325</h6>
                <small>Visits</small>
                </div>
                <span id="bh_visits"></span>
                </div>
                <div class="d-inline-flex text-start">
                <div class="me-2">
                <h6 class="mb-0"><i class="fa fa-comments"></i> 13</h6>
                <small>Chats</small>
                </div>
                <span id="bh_chats"></span>
                </div> *@
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row g-3">
            <div class="card p-3">
                <div class="form container">

                    @if (Model != null && Model.Count > 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Form ID</th>
                                    <th>Email</th>
                                    <th>Attachment</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.id</td>
                                        <td>@item.email</td>

                                        <td>
                                            @if (!string.IsNullOrEmpty(item.attachment))
                                            {
                                                <span>@item.attachment</span>

                                            }
                                        </td>
                                        <td> <a href="@Url.Content($"https://localhost:44383/api/f16/download/{item.attachment}")">Download</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No Form 16 records found.</p>
                    }

                </div>

            </div>
        </div>
    </div>
</div>